.lib-iframe {
    border: none !important;
    margin: 0px !important;
    padding: 0px !important;
    width: 1px !important;
    min-width: 100% !important;
    overflow: hidden !important;
    display: block !important;
    user-select: none !important;
    min-height: 50px;
}

.card_element_wrapper {
    min-width: 100% !important;
}